@charset "utf-8";
/* CSS Document */
.sidepane {
	position:relative;
	display:block;
	float:right;
	top:-2em;
	width:22%;
	min-height:20em;
	margin-right:1%;
}
.heading1 {
	position:relative;
	float:left;
	top:5em;
	padding-left:4%;
}

.heading1 > h1 {
	font-size:70px;
}

#sort-options {
	position:relative;
	top:1.2em;
	width: 75%;
	height:2em;
	clear: both;
	float: left;
	/*background-color: #555;*/
	margin-left: 1em;
}


.tabs {
	position:relative;
	width: 100%;
	clear: both;
	background-color: #E9E9E9;
	margin-top: 2.8em;
	height: 100%;

}

.tab-links {
	font-size:18px;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
	padding:0 2em 0;
    float:left;
    list-style:none;
}
.tab-links li.active {
	border-bottom: 2px solid #F00;
}
.tab-links li:hover {
	border-bottom:2px solid #009;
}

/* Discussions Main content*/
.holder1 {
	width: 100%;
	padding-top:2em;
	border-right:3px solid #E9E9E9;
}

.new_discussion{
	position:relative;	
	display:inline;
	font-size:25px;
	float:right;
	color:#000;
	width:100%;
	min-height:1.8em;
	text-align:center;
	padding:1%;
	background:#F00;
	box-shadow:1px 2px 8px #666;
}

.new_discussion:hover{
	text-decoration:none;
	box-shadow: 0px 1px 1px #666;
}

.cbp_tmtimeline {
	margin-left:2em;
	margin-right:1em;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width:20px;
	background: #afdcf8;
	margin-left:-0.3em;
	z-index:-1;
}

.cbp_tmtimeline > li{
	min-height:9em;
}
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	content:' ';
	width: 60px;
	height: 60px;
	position:relative;
	line-height: 20px;
	background: #46a4da;
	border-radius: 10%;
	box-shadow: 0 0 0 5px #afdcf8;
	text-align: center;
	left: 0%;
	top: 0.2em;
	margin: 0 0 0 -1.8em;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 0 5%;
	background: #3594cb;
	color: #fff;
	padding: 0.5em;
	font-size: 15px;
	line-height: 1.4em;
	position: relative;
	border-radius: 5px;
	left:0.5em;
}
.cbp_tmtimeline > li:first-child .cbp_tmlabel {
	margin: 0 0 0 5%;
	background: #3594cb;
	color: #FFF;
	padding: 0.5em;
	font-size: 14px;
	line-height: 1.4em;
	position: relative;
	left:0.5em;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #676767;
	color:#FFF;
	font-size:15px;
	position:relative;
	top:-4em;
}

.cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel {
	position:relative;
	top:-4em;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 { 
	margin-top: 0px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.cbp_tmtimeline > li .cbp_tmlabel p{
	font-size:15px;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: relative;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;

}

@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 18px;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-size:18px;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

.share {
	float:right;
	margin-top:-0.4em;
	margin-right:-0.4em;

}

.flickr {
    background: #ea66ac;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#ea66ac), to(#da3868));
    background: -moz-linear-gradient(#ea66ac, #da3868);
    background: linear-gradient(#ea66ac, #da3868);
    border-top: 1px solid #f3a2cd;
    color: rgba(74,4,32,1); }
    
.flickr:active {
    background: #da3868;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#da3868), to(#ea66ac));
    background: -moz-linear-gradient(#da3868, #ea66ac);
    background: linear-gradient(#da3868, #ea66ac); }

.like{
    position: relative;
	width:100px;
	height: 30px;
    margin: 0 10px 0;
    padding: 5px;
	float: right;
	text-align:center;
	text-decoration: none;
	color:#000;    
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;            
    -webkit-box-shadow:0 4px 5px rgba(0,0,0,.3);
       -moz-box-shadow:0 4px 5px rgba(0,0,0,.3);
            box-shadow:0 4px 5px rgba(0,0,0,.3);          
    display: inline-block !important;
	cursor:pointer;
}

.dislike{
    position: relative;
	width:100px;
	height: 30px;
    padding: 5px;
	float: right;
	text-align:center;
	text-decoration: none;
	color:#000;    
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;            
    -webkit-box-shadow:0 4px 5px rgba(0,0,0,.3);
       -moz-box-shadow:0 4px 5px rgba(0,0,0,.3);
            box-shadow:0 4px 5px rgba(0,0,0,.3);          
    display: inline-block !important;
	cursor:pointer;
}
