@charset "utf-8";
/* CSS Document */
/* Footer CSS*/
.footer{
	position:relative;
	bottom:0;
  	height: 10em;
	padding-top:2.4em;
	width: 100%;
  	background: #000000;
  	color: #333333;
  	transition: all 0.2s ease-out;
}

.links {
	width:65%;
	position:relative;
	float:right;
	margin-right:5em;
}

.links > tbody > tr > td{
	width:20%;
}
/*
.links > td > a {
		text-align:center;
}*/

.copyright {
	position:relative;
	bottom:0;
	top:1.3em;
	left:-20em;
	width:60%;
	text-align:left;
}

.cmp_logo {
	width:105px;
	position:relative;
	left:2.5em;
	top:-1.4em;
	height:105px;
	background-image:url(../image/waf-logo.png);
	background-size:contain;
	float:left;
}

.copyright > p {
	font-size:18px;
	padding-left:2em;
}


.footer > ul > a {
	color:#333333;
}


.footer:hover{
  color: #ffffff;
  text-decoration:none;
}
