body{ font-size: 16px; color: #000000; text-align: center; font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1;}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width:100%;
  background: #FFFFFF;
  color: #000000;
  
}
.footer:after{
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 0;
	height: 0;
	border-bottom: 100px solid #FFFFFF;
	border-right: 100px solid transparent;
}

.footer-copy{
  position: relative;
  text-align: left;
  margin-top: 20px;
}
.footer-copy ul{
  list-style-type: none;
  margin: 10px 0 0px 0;
  font-size: 80%;
}
.footer-copy i{
  margin-right: 1px;
  
}

.copyright{
  position:absolute;
  bottom:20;
  right:0;
  font-size: 73%;
  margin-right: 12px;
}
.footer-copy li{
  position: relative;
  display: inline-block;
  padding: 0px 16px;
}



.more-button {
  display: inline-block;
  padding: 5px 30px 5px 0;
  margin-left: 10px;
  overflow: hidden;
  top: 10px;
  width: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.more-button:before {
  content: '\e0f2';
  font-family: "more";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
  width: 20px;
  
  cursor: pointer;
  color: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.more-button:hover:before,
.more-button:active:before {
  color: #595959;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.more-button:hover,
.more-button:active {
  width: 250px;
}
.container {
  display: inline-block;
  opacity: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 250px;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.container .share-btn {
  font-size: 1.2em;
  padding: 0px;
  color: #b0b0b0;
}
.container .share-btn:hover,
.container .share-btn:active {
  text-shadow: 0 0 5px rgba(85, 190, 235, 0.45);
  color: #55beeb;
}
.more-button:hover > .container,
.more-button:active > .container {
  display: inline-block;
  left: 35px;
  position: absolute;
  opacity: 1;
  width: 250px;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}