@charset "utf-8";
/* CSS Document */
#carousel_image1 {
	background-image:url(../image/B22.png);
	background-repeat:no-repeat;
	background-size:cover;
}

#carousel_image2 {
	background-image:url(../image/img2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

#carousel_image3 {
	background-image:url(../image/img3.jpg);
	background-repeat:no-repeat;
	background-size:cover;	
}

/*  Connect with FB, Google Buttons*/
.btn-fb-login {
	position:relative;
	width: 20%;
	top:-3.5em;
	float:right;
	right:13em;
	height: 50px;
  	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #3B5998;
	box-shadow: inset 0 1px 3px rgba(255,255,255,0.2);
	cursor: pointer;
}
#btn-g-login {;
 	position:relative;
	width: 20%;
	height: 50px;
	float:left;
	left:13em;
	top:-3.5em;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
  	box-shadow: inset 0 1px 3px rgba(255,255,255,0.2);
  	cursor: pointer;
    display: inline-block;
    background: #dd4b39;
    color: white;
    white-space: nowrap;
}

.btn-fb-login .icon {
	z-index:10000;
    width: 5px;
    height: 30px;
    margin: 0px 0px;
 }
 .btn-fb-login .title {
	font-size:18px;
	width:85%;
    color: #fff;
    line-height: 30px;
    float: right;
    padding: 10px 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
    box-shadow: -1px 0 0 rgba(255,255,255,0.1) ;
    border-left: 1px solid rgba(0,0,0,0.3);
 }
 .btn-fb-login:hover {
 	box-shadow: 2px 2px 3px #444;
 }

 .btn-g-login .icon {  

    float: left;
    margin: 4px 6px;
	background: url('/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
    width: 35px;
    height: 35px;
    border-right: #bb3f30 1px solid;
	
 }
#btn-g-login .title {
	font-size:18px;
	width:85%;
    color: #fff;
    line-height: 30px;
    float: right;
    padding: 10px 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
    box-shadow: -1px 0 0 rgba(255,255,255,0.1) ;
    border-left: 1px solid rgba(0,0,0,0.3);
}
#btn-g-login:hover {
 	box-shadow: 2px 2px 3px #444;
}

#login-reg_button {
	background-color:transparent;
	border:#ED6347;
	width:100%;
}

#login-signup {
	position:relative;
	z-index:300;
	top:1.2em;
}
#lean_overlay {
    position: fixed;
    z-index:200;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:350px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger {
	margin-left:auto;
	margin-right:auto;
	height:50px;
	font-size:18px;
	background-color: #000;
	width:22%;
	display:block;

}

#modal_trigger:hover{
 	box-shadow: 2px 2px 3px #444;
}

.btn {
	padding:10px 20px;
	background: #ED6347;
}

.btn:hover {
	background: #C12B05;
}
.btn > .back_btn{
	padding-top:10px;
}

.btn_red {
	background: #ED6347;
	color: #FFF;
}


.btn_red:hover {
	background: #C12B05;
}

a.btn {
	color:#FFF;
	text-align: center;
	text-decoration: none;
}

a.btn_red {
	color: #FFF;
}

.one_half {
	width:100%;
}
.one_half.last {
	width:100%; 
	margin-top:5%;
}

/* Popup Styles*/
.popupHeader {
	font-size:16px; 
	text-transform: uppercase;
}
.popupHeader {
	background:#000; 
	color:#FFF;
	position:relative; 
	padding:10px 20px; 
	border-bottom:1px solid #DDD; 
	font-weight:bold;
}

.popupHeader .header_title:hover {
	color:#FFF;
}

.popupHeader .modal_close {
	position: absolute;
	right: 0;
	top:0; 
	padding:10px 15px; 
	cursor: pointer; 
	color:#FFF; 
	font-size:14px;
}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {
	z-index:200;
}

.social_login .social_box {
	display:block;
	clear:both; 
	padding:10px; 
	margin-bottom: 10px; 
	background: #F4F4F2; 
	overflow: hidden;
}

.social_login .icon {
	display:block; 
	width:10px; 
	padding:5px 10px; 
	margin-right: 10px; 
	float:left; 
	color:#FFF; 
	font-size:16px; 
	text-align: center;
}
 
.social_login .icon_title {
	display:block;
	 padding:5px 0; 
	 float:left; 
	 font-weight: bold; 
	 font-size: 16px; 
	 color:#777;
}
.social_login .social_box:hover {
	background: #E4E4E2;
	}

.centeredText {
	text-align: center; 
	margin: 20px 0; 
	clear: both; 
	overflow: hidden; 
	text-transform: uppercase;
}

.action_btns {
	clear:both; 
	overflow: hidden;
}

.action_btns a {
	display: block;
}

.social_login label {display: block; margin-bottom:5px;}
.social_login input[type="text"], .social_login input[type="email"], .social_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.social_login input[type="checkbox"] {float:left; margin-right:5px;}
.social_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* Search Box css*/
.clearfix:before, .clearfix:after {
	 content: " ";
.clearfix:after { 
	clear: both; 
}

/* Main Content */
.main {
	 display: table;
}

	max-width: 79em;
}

.column {
	float: left;
	min-height: 50px;
	position: relative;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}

.column a {
	border: 3px solid #b4c7da;
	padding: 0 15px;
	display: inline-block;
	margin: 20px 0;
}

.column a:hover {
	border-color: #fff;
}

#loader {
	background-color:#FFF;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2000;
}

#image-loader {
	width:20%;
	position:relative;
	top:30%;
	left:40%;
}

.box {
	position:relative;
	width:100%;
	height:6em;
	background:	#FFF;
}

.content {
	position:relative;
	padding-top:15vh;
	background-image:url(../image/gears.png);
	background-size:1366px 680px;
	min-height:48em;
	width:100%;
}

.details {
	width:100%;
	position:relative;
}

.panel1 {
	width:25%;
	height:6em;
	position:relative;
	margin-left:1%;
	margin-right:1%;
	float:left;
	left:10%;
	background:white;
	font-size:2em;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-box-shadow:2px 5px 4px #222;
            box-shadow:2px 5px 4px #222;
	transition:all ease-in-out 0.2s;
}

.panel1:hover{
	-webkit-box-shadow:1px 1px 1px #222;
            box-shadow:1px 1px 1px #222;
}

.panel2 {
	width:25%;
	position:relative;
	top:2vh;
	height:6em;
	margin-left:1%;
	margin-right:1%;
	float:left;
	left:10%;
	font-size:2em;
	background:white;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-box-shadow:2px 5px 4px #222;
            box-shadow:2px 5px 4px #222;
	transition:all ease-in-out 0.2s;
}

.panel2:hover{
	-webkit-box-shadow:1px 1px 1px #222;
            box-shadow:1px 1px 1px #222;
}

.panel3 {
	width:25%;
	position:relative;
	top:4vh;
	height:6em;
	margin-left:1%;
	margin-right:1%;
	float:left;
	left:10%;
	font-size:2em;
	background:white;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-box-shadow:2px 5px 4px #222;
            box-shadow:2px 5px 4px #222;
	transition:all ease-in-out 0.2s;
}
.panel3:hover{
	-webkit-box-shadow:1px 1px 1px #222;
            box-shadow:1px 1px 1px #222;
}
	
.content1 {
	height:100%;
	padding-top:2.5em;
	font-weight:900;
	background-image:url(../image/icons/create.png);
	background-size:cover;
	width:100%;
	transition:all ease-in-out 0.5s;
	transition-property:padding-top, background-image;
 
}
.content1:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content2 {
	height:100%;
	width:100%;
	font-weight:900;
	background-image:url(../image/icons/converse.png);
	background-size:cover;
	padding-top:2.5em;
	transition:all ease-in-out 0.5s;
	transition-property:padding-top, background-image;
}
.content2:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content3 {
	height:100%;
	padding-top:2.5em;
	background-image:url(../image/icons/connect.jpg);
	background-size:cover;
	font-weight:900;
	transition:all ease-in-out 0.5s;
	transition-property:padding-top, background-image;
}
.content3:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content4 {
	height:100%;
	padding-top:2.5em;
	font-weight:900;
	background-image:url(../image/icons/grow.png);
	background-size:contain;
	transition:all ease-in-out 0.5s;
	transition-property:padding-top, background-image;
}
.content4:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content5 {
	height:100%;
	font-weight:900;
	background-image:url(../image/icons/buysell.png);
	background-size:cover;
	padding-top:2.5em;
	transition:padding-top ease-in-out 0.5s;
}
.content5:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content6 {
	height:100%;
	font-weight:900;
	background-image:url(../image/icons/speak.jpg);
	background-size:contain;
	padding-top:2.5em;
	transition:padding-top ease-in-out 0.5s;
}
.content6:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content7 {
	height:100%;
	background-image:url(../image/icons/updated.png);
	background-size:auto;
	font-weight:900;
	padding-top:2.5em;
	transition:padding-top ease-in-out 0.5s;
}
.content7:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content8 {
	height:100%;
	padding-top:2.5em;
	background-image:url(../image/icons/insight.png);
	background-size:cover;
	font-weight:900;
	transition:padding-top ease-in-out 0.5s;
}
.content8:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}
.content9 {
	height:100%;
	background-image:url(../image/icons/difference.png);
	background-size:cover;
	font-weight:900;
	padding-top:2.5em;
	transition:padding-top ease-in-out 0.5s;
}
.content9:hover {
	background-image:none;
	font-size:19px;
	padding-top:2em;
	padding-left:0.8em;
	padding-right:0.8em;
	text-align:center;
}

.content10 {
	position:relative;
	width:100%;
}

.content10 > .details10 {
	width:100%;
	margin-top:8%;
	padding-left:18%;
	margin-bottom:8%;
}
.details10 > h2 {
	font-size:40px;
}

/*-----------------------Logo ScrollBar start--------------------------*/
#port {
	overflow: hidden;
    position: relative;
	top:5em;
    width: 96%;
	margin-left:0;
	height: 20vh;
}
.img_thumb {
    width: 240px;
	height:150px;
	padding:3px;
    /*-webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);*/
    }
.parallax-layer {
    position: absolute;
}
/* Horizontal lists of inline-blocks, with image backgrounds as thumbnails */
/* Tested in Safari 4 | FF 3.5 | Opera 9.6 | IE7 */ 
.thumbs_index {
	padding: 0 20px;
    /* initial position */
    left: 0;
    /* Put all the thumbs on one line. */
    white-space: nowrap;
}
.thumbs_index > li {
    display: inline;
    margin-right: 10px;
}
/*-----------------------Logo ScrollBar end----------------------------*/
.panel-content {
}

.heading-content {
	text-align:center;
	font-weight:300;
	padding-top:5px;
	padding-bottom:5px;
}
.body-content {
	padding-right:10px;
	padding-bottom:10px;
}

.icon-content {
	max-width:80px;
	max-height:80px;
	position:relative;
	float:right;
	right:0;
}


#company {
	color:#FFF;
	text-align:center;
	font-size:70px;
	font-weight:800;
	width:100%;
}

.cmp_logo {
	width:200px;}

.image-pos1
{
display:none;
	position:fixed;
	left:0;
	bottom:1em;
	width:10%
	height:10%;	
	z-index:1;
	
}
.image-pos2 {
	display:none;
	position:fixed;
	right:0.5em;
	bottom:0.8em;
	z-index:1;
}



	
	
    
    