@charset "utf-8";
/* CSS Document */
#carousel_image1 {
	background-image:url(../image/B22.png);
	background-repeat:no-repeat;
	background-size:cover;
}

#carousel_image2 {
	background-image:url(../image/img2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

#carousel_image3 {
	background-image:url(../image/img3.jpg);
	background-repeat:no-repeat;
	background-size:cover;	
}

#login-reg_button {
	background-color:transparent;
	border:#ED6347;
	width:100%;
}

#login-signup {
	position:relative;
	z-index:300;
	top:430px;
	height:0px;
}
#lean_overlay {
    position: fixed;
    z-index:200;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:350px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger {
	margin-left:auto;
	margin-right:auto;
	height:50px;
	font-size:18px;
	background-color: #000;
	width:150px;
	display:block;
}

.btn {
	padding:10px 20px;
	background: #ED6347;
}

.btn:hover {
	background: #C12B05;
}

.btn_red {
	background: #ED6347;
	color: #FFF;
}


.btn_red:hover {
	background: #C12B05;
}

a.btn {
	color:#FFF;
	text-align: center;
	text-decoration: none;
}

a.btn_red {
	color: #FFF;
}

.one_half {
	width:100%;
}
.one_half.last {
	width:100%; 
	margin-top:5%;
}

/* Popup Styles*/
.popupHeader {
	font-size:16px; 
	text-transform: uppercase;
}
.popupHeader {
	background:#000; 
	position:relative; 
	padding:10px 20px; 
	border-bottom:1px solid #DDD; 
	font-weight:bold;
}

.popupHeader .header_title:hover {
	color:#FFF;
}

.popupHeader .modal_close {
	position: absolute;
	right: 0;
	top:0; 
	padding:10px 15px; 
	cursor: pointer; 
	color:#FFF; 
	font-size:14px;
}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}

.social_login .social_box {
	display:block;
	clear:both; 
	padding:10px; 
	margin-bottom: 10px; 
	background: #F4F4F2; 
	overflow: hidden;
}

.social_login .icon {
	display:block; 
	width:10px; 
	padding:5px 10px; 
	margin-right: 10px; 
	float:left; 
	color:#FFF; 
	font-size:16px; 
	text-align: center;
}
 
.social_login .fb .icon {
	background:#3B5998;
}

.social_login .google .icon {
	background:#DD4B39;
}

.social_login .icon_title {
	display:block;
	 padding:5px 0; 
	 float:left; 
	 font-weight: bold; 
	 font-size: 16px; 
	 color:#777;
}
.social_login .social_box:hover {
	background: #E4E4E2;
	}

.centeredText {
	text-align: center; 
	margin: 20px 0; 
	clear: both; 
	overflow: hidden; 
	text-transform: uppercase;
}

.action_btns {
	clear:both; 
	overflow: hidden;
}

.action_btns a {
	display: block;
}

/* User Login Form */
.user_login {
	display: none;
}

.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* Search Box css*/
.clearfix:before, .clearfix:after {
	 content: " ";
.clearfix:after { 
	clear: both; 
}

/* Main Content */
.main {
	 display: table;
}

	max-width: 79em;
}

.column {
	float: left;
	min-height: 50px;
	position: relative;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}

.column a {
	border: 3px solid #b4c7da;
	padding: 0 15px;
	display: inline-block;
	margin: 20px 0;
}

.column a:hover {
	border-color: #fff;
}

#loader {
	background-color:#FFF;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px;
}

#image-loader {
	width:20%;
	position:relative;
	top:30%;
	left:40%;
}

/* Footer CSS*/
.footer{
	position:static;
	bottom:0;
  	height: 80px;
	padding-top:10px;
	width: 100%;
  	background: #000000;
  	color: #333333;
  	transition: all 0.2s ease-out;
}

.links {
	width:80%;
	margin:auto;	
}

.links > tr >td{
	width:20%;
}
/*
.links > td > a {
		text-align:center;
}*/

.copyright {
	width:100%;
	text-align:right;
	padding-right:15px;
}


.footer > ul > a {
	color:#333333;
}


.footer:hover{
  color: #ffffff;
  text-decoration:none;
}

.box {
	position:relative;
	top:-7em;
	width:80%;
	z-index:100;
	background:	-moz-linear-gradient(top, #222 0%, #919AEC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(100%,#919AEC));
    margin:65px auto 0px;
	border-top-left-radius:250px;
	border-top-right-radius:250px;
	border-bottom-width:thick;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	-webkit-box-shadow:2px 5px 38px rgba(0, 0, 0, 0.4);
            box-shadow:2px 5px 38px rgba(0, 0, 0, 0.4);
}

.shadow{
    position:relative;
	z-index:100;
	box-shadow:1px 5px 40px rgba(0, 0, 0, 0.8);
}

.shadow:after{
    position:absolute;
    z-index:100;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}
	
.content1 {
	position:relative;
	background:#FFF;
	height:700px;
	top:-11.5em;
	width:95%;
	z-index:-11;
	padding-top:5em;
    margin:25px auto 0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-color:#222;
	border-width:thick;
	-webkit-box-shadow:2px 5px 58px #222;
            box-shadow:2px 5px 58px #222;
}

.content1 > .details {
	width:90%;
	position:relative;
	left:7.5%;
}

.panel-content {
	width:85%;
}

.heading-content {
	text-align:center;
	font-weight:300;
	padding-top:5px;
	padding-bottom:5px;
}
.body-content {
	padding-right:10px;
	padding-bottom:10px;
}

.icon-content {
	max-width:80px;
	max-height:80px;
	position:relative;
	float:right;
	right:0;
}


#company {
	color:#FFF;
	text-align:center;
	font-size:70px;
	font-weight:800;
	width:100%;
}


.cmp_logo {
	width:200px;}