@charset "utf-8";
/* CSS Document */
#carousel_image1 {
	background-image:url(../image/img1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

#carousel_image2 {
	background-image:url(../image/img2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

#carousel_image3 {
	background-image:url(../image/img3.jpg);
	background-repeat:no-repeat;
	background-size:cover;	
}
