@charset "utf-8";
/* CSS Document */
#tabs {
	position:relative;
	top:90px;
}
#pic_sign {
	position:relative;
	width:24%;
	float:left;
	top:100px;
	margin-left:20px;
}

#pic {
	height:356px;
}


#profile1 {
	position:relative;
	width:70%;
	height:350px;
	top:100px;
	float:right;
	margin-right:20px;
	margin-bottom:20px;
}

#profile {
	position:relative;
	width:70%;
	height:450px;
	top:100px;
	float:right;
	margin-right:20px;
	margin-bottom:20px;
}

#profile_box {
	height:300px;
}

#label {
	position: relative;
	width:130px;
	padding: 10px 5px 10px 20px;
}

#label2 {
	position: relative;
	width:130px;
	padding: 10px 5px 10px 20px;
}

#button1 {
	position:relative;
	width:290px;
	bottom:8px;
	margin-left:30px;

}

#button2 {
	top:10px;
	left:500px;
	position:relative;
	width:290px;
	bottom:8px;
}

#button3 {
	top:100px;
	left:800px;
	position:relative;
	width:290px;
	margin-bottom:150px;
}