@charset "utf-8";
/* CSS Document */

.contentpane12 {
	position:relative;
	width:70%;
	margin-left:3%;
	margin-bottom:1%;
	top:8em;
	box-shadow:2px 2px 2px #333;
}

.contentpane1 {
	position:relative;
	height:16.2em;
}

.contentpane2 {
	position:relative;
	height:17em;
}

.contentpane3 {
	position:relative;
	float:right;
	top:8em;
	width:23%;
	height:33.3em;
	margin-right:2.8%;
	box-shadow:2px 2px 2px #333;

}

.contentpane4 {
	position:relative;
	width:70%;
	margin-left:3%;
	margin-bottom:3%;
	min-height:8em;
	top:8.5em;
	box-shadow:2px 2px 2px #333;
}

.contentpane5 {
	position:relative;
	width:70%;
	margin-left:3%;
	margin-bottom:3%;
	min-height:8em;
	top:8.5em;
	box-shadow:2px 2px 2px #333;
}

#tabs {
	position:relative;
	top:90px;
}

#pic_sign {
	position:relative;
	width:13.5em;
	display:inline-block;
}

#pic {
	height:29.6em;
}


#personal {
	position:relative;
	width:80%;
	top:-13.5em;
	height:16.25em;
	margin-left:-0.3em;
	display:inline-block;
}
#discussions{
	position:relative;
	width:20%;
	height:17em;
	display:inline-block;
}
.number {
	font-size:20px;
	min-height:3.5em;
}
#education {
	position:relative;
	top:-8.55em;
	width:80%;
	height:17em;
	display:inline-block;
	margin-left:-0.3em;

}

#name{
	position:relative;
	float:left;
}
#post {
	font-size:17px;
	color:#009;
	padding-top:0.8em;
	position:relative;
	float:right;
}

.label {
	color:#666;
	font-size:16px;
	padding:2em;
	position: relative;
	line-height:2em;
	display:inline;
}
.label-ans{
	display:inline;
	font-size:18px;
}

#label2 {
	position: relative;
	width:130px;
	padding: 10px 5px 10px 20px;
}

#button1 {
	position:relative;
	width:290px;
	bottom:8px;
	margin-left:30px;

}

#button2 {
	top:10px;
	left:500px;
	position:relative;
	width:290px;
	bottom:8px;
}

#button3 {
	
	left:220px;
	position:relative;
	width:290px;
	float:right;
	bottom:5px;
}

#button4 {
	top:150px;
	left:20px;
	position:relative;
	width:400px;
	float:right;
	bottom:5px;
}

#button5 {
	top:450px;
	left:250px;
	position:relative;
	width:290px;
	float:right;
	bottom:105px;
}

